<!DOCTYPE html>

<head>
  <title>PSU/SCORE ARPA-E Locomotives Testbed</title>
</head>

{% load static %}
<style>
  .hero-unit {
     background: url("{% static 'images/homepage1.jpg' %}");
  }

  .hero-unit img {
   width: 100%; height: 100%;
  }

</style>

<script src="{% static 'js/babel.min.js' %}" crossorigin></script>
<script src="{% static 'js/jquery.js' %}" crossorigin></script>
<script src="{% static 'js/jquery-ui.min.js' %}" crossorigin></script>
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">

{% load static %}

{% block main_section %}


<div class="container">

    <div class="row">
      <div class="span4">
        <img src="{% static 'images/arpae_logo.png' %}" style="width:100%;object-fit:contain"></img>
      </div>
      <div class="span4">
          <img src="{% static 'images/arl_logo.png' %}" style="width:100%;object-fit:contain"></img>
        </div>
      <div class="span4">
          <img src="{% static 'images/coe_logo.png' %}" style="width:100%;object-fit:contain"></img>
      </div>
    </div>

  <div class="hero-unit">
    <h2>Synthesis of COnsists as Rolling Energy micro-grids (SCORE)</h2><br><br>
    <p><a class="btn btn-primary btn-large" href="{% url 'home' %}">Login or Sign Up</a>
      <a class="btn btn-large" href="{% url 'detaileddocumentation' %}">Documentation &raquo;</a><br><br></p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Motivation : Locomotive Technology Analysis</h2><br>
      This is an online analysis framework that calculates the fuel consumption and emissions of consists over a route, to access the impact different locomotive technologies have across a rail network system with various freight requirements.
      The testbed allows decision-makers to create consists with varying combinations of locomotives (diesel, battery/electric, fuel cell) and freight cars to simulate energy and greenhouse gas emissions performance over a variety of routes.
        <br><br><br>
        <img src="{% static 'images/route.png' %}" style="width:100%;object-fit:contain"></img>
      </div>
    <div class="span6">
      <h2>Fuel and Emissions Modelling</h2><br>

      <b>Energy Longitudinal Train Dynamics (ELTD) Model</b> :  Calculates the used energy and greenhouse gas emissions of a consist, based on the route gradient and curvature profile.<br><br>
      <h4>ELTD Settings</h4><br>
        - <b>Fast Analysis</b> : Uses track speed limit as estimate of consist speed to calculate power and resulting emissions<br>
        - <b>Full Analysis</b> : Adds optimizer to calculate consist speed to account for acceleration and deceleration events<br>   
        - <b>Power Options</b> : Balanced Energy or Ordered Locomotive Type<br>
        - <b>Braking Options</b> : Maximum Braking, Coasting, Maximum Regenerative Braking<br><br>
        <img src="{% static 'images/fuelconsumption.png' %}" style="width:100%;object-fit:contain"></img>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="span6">
        <h4>View Source on <a class="btn btn-large" href="https://github.com/ARPA-E-LOCOMOTIVES/SCORE">Github</a></h4>
    </div>
  </div>

  <br><br><br><br>
  <div class="row">
    <div class="span12">
        <h2>Example Screenshots</h2>
        <br>
        <img style="border:2px solid black" src="{% static 'images/analysis.gif' %}" style="width:100%;object-fit:contain"></img>
    </div>
  </div>

  

  <hr>

  <footer>
    <p>&copy; Applied Research Laboratory/College of Enigineering/Pennsylvania State University 2023</p>
  </footer>

</div> <!-- /container --> 

{% endblock %}
