{% extends 'base.html' %}

{% load static %}

{% block main_section %}

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Contact Us</h1>
  </div>

  <div class="row">
    <div class="span2">
      Program Leads :
    </div>
    <div class="span10">
      <a href="mailto:lab27@arl.psu.edu">Lorri Bennett</a></br> <a href="mailto:may106@arl.psu.edu">Mike Yukish</a> </br> <a href="mailto:cdr10@psu.edu">Chris Rahn</a> </br> <a href="mailto:bws14@psu.edu">Bryan Schlake</a>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="span2">
      Technical :
    </div>
    <div class="span10">
      <a href="mailto:jdm111@arl.psu.edu">Jay Martin</a></br>
      <a href="mailto:gms158@arl.psu.edu">Gary Stump</a>
    </div>

  </div>



{% endblock %}
