{% load static %}


<style>
  .hero-unit {
     background: url("{% static 'images/homepage1.jpg' %}");
  }

  .hero-unit img {
   width: 100%; height: auto;
  }

</style>

<script src="{% static 'js/bootstrap.min.js' %}" crossorigin></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">SCORE ARPA-E LOCOMOTIVES</a>
    </div>
  </div>
</div>


<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h2>We have received you information and will email you with login credentials</h2>
  </div>

</div>
